*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 280px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: hsl(226, 43%, 10%);
    min-height: 100svh;
    padding: 4.5em 0;
  }
  .main-container .card-box {
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.8em;
  }
  .main-container .box-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 76.5%;
  }
  .main-container .box-person .box-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: hsl(246, 80%, 60%);
    padding: 2.25em 1.9em;
    border-radius: 0.8em;
  }
  .main-container .box-person .box-about__image {
    width: 44px;
    height: 44px;
    border: 2px solid hsl(236, 100%, 87%);
    border-radius: 50%;
    margin-right: 1.75em;
  }
  .main-container .box-person .box-about .box-info__report {
    color: hsl(236, 100%, 87%);
  }
  .main-container .box-person .box-about .box-info__person-name {
    font-size: 1.8rem;
    color: hsl(236, 100%, 87%);
    padding: 0.25em 0 0 0;
  }
  .main-container .box-person .box-person-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    padding: 2em 0;
  }
  .main-container .box-person .box-person-links__item {
    color: hsl(235, 45%, 61%);
    font-size: 1.2rem;
    cursor: pointer;
  }
  .main-container .box-work, .main-container .box-study {
    background-image: url(../img/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 90% -15%;
    background-size: 23%;
    background-color: hsl(17, 100%, 70%);
    padding-top: 2.5em;
    width: 76.5%;
  }
  .main-container .box-work .box-work-container, .main-container .box-study .box-work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.8em;
    width: 100%;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container, .main-container .box-work .box-work-container .box-wrok-info-container-secondary, .main-container .box-study .box-work-container .box-wrok-info-container, .main-container .box-study .box-work-container .box-wrok-info-container-secondary {
    padding: 2.5em 1.5em;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container__content, .main-container .box-work .box-work-container .box-wrok-info-container-secondary__content, .main-container .box-study .box-work-container .box-wrok-info-container__content, .main-container .box-study .box-work-container .box-wrok-info-container-secondary__content {
    color: white;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container__content:first-child, .main-container .box-work .box-work-container .box-wrok-info-container-secondary__content:first-child, .main-container .box-study .box-work-container .box-wrok-info-container__content:first-child, .main-container .box-study .box-work-container .box-wrok-info-container-secondary__content:first-child {
    font-size: 1.2rem;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container__content:nth-child(2), .main-container .box-work .box-work-container .box-wrok-info-container-secondary__content:nth-child(2), .main-container .box-study .box-work-container .box-wrok-info-container__content:nth-child(2), .main-container .box-study .box-work-container .box-wrok-info-container-secondary__content:nth-child(2) {
    font-size: 1.8rem;
    margin-top: 0.75em;
    font-weight: 300;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container-secondary, .main-container .box-study .box-work-container .box-wrok-info-container-secondary {
    text-align: right;
  }
  .main-container .box-work .box-work-container .box-wrok-info-container-secondary__content, .main-container .box-study .box-work-container .box-wrok-info-container-secondary__content {
    color: hsl(236, 100%, 87%);
  }
  .main-container .box-work .box-work-container .box-wrok-info-container-secondary__content:nth-child(2), .main-container .box-study .box-work-container .box-wrok-info-container-secondary__content:nth-child(2) {
    font-size: 1rem;
    margin-top: 1.5em;
  }
  .main-container .box-study {
    background-image: url(../img/icon-play.svg);
    background-color: hsl(195, 74%, 62%);
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  height: 100svh;
}/*# sourceMappingURL=main.css.map */