@use "./fonts" as *;
@use "./colors" as *;
@media (min-width: 280px) {
  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $neuteral-very-dark-blue;
    min-height: 100vh;
    padding: 4.5em 0;
    .card-box {
      background-color: $neuteral-dark-blue;
      border-radius: 0.8em;
      width: 90%;
      margin: 1em 0;
    }
    .box-person {
      display: flex;
      flex-direction: column;
      .box-about {
        display: flex;
        align-items: center;
        background-color: $primary-blue;
        padding: 2.25em 2em;
        border-radius: 0.8em;
        &__image {
          width: 5.6em;
          height: 5.6em;
          border: 2px solid $neuteral-pale-blue;
          border-radius: 50%;
          margin: 0 1em;
        }
        .box-info {
          &__report {
            color: $neuteral-pale-blue;
          }
          &__person-name {
            font-size: $primary-size;
            color: $neuteral-pale-blue;
            padding: 0.25em 0 0 0;
          }
        }
      }
      .box-person-links {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 2em 4em;
        &__item {
          color: $neuteral-desaturated-blue;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    .box-work, .box-play, .box-study, .box-exercise, .box-social, .box-self-care{
      background-image: url(../img/icon-work.svg);
      background-repeat: no-repeat;
      background-position: 95% -15%;
      background-size: 23%;
      background-color: $primary-light-red;
      padding-top: 2.5em;
      .box-work-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        gap: 1em;
        background-color: $neuteral-dark-blue;
        border-radius: 0.8em;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        padding: 2.5em 1.75em;
        .box-wrok-container {
          &__content {
            color: white;
          }
          &__content:first-child{
            font-size: 1.2rem;
          }
          &__content:nth-child(2) {
            font-size: $primary-size;
            font-weight: $small-weight;
            grid-column: 1/1;
            grid-row: 2/3;
          }
          &__content:nth-child(3){
            justify-self: end;
            color: $neuteral-pale-blue;
          }
          &__content:nth-child(4){
            font-size: 1rem;
            text-align: right;
            color: $neuteral-pale-blue;
          }
        }
      }
    }
    .box-play{
      background-image: url(../img/icon-play.svg);
      background-color: $primary-soft-blue;
    }
    .box-study{
      background-image: url(../img/icon-study.svg);
      background-color: $primary-light-red-second;
    }
    .box-exercise{
      background-image: url(../img/icon-exercise.svg);
      background-position: 90% 0;
      background-color: $primary-lime-green;
    }
    .box-social{
      background-image: url(../img/icon-social.svg);
      background-position: 95% -15%;
      background-size: 15%;
      background-color: $primary-violet;
    }
    .box-self-care{
      background-image: url(../img/icon-self-care.svg);
      background-color: $primary-soft-orange;
    }
  }
}

@media (min-width: 325px){
  .main-container{
  .box-work, .box-play, .box-study, .box-exercise, .box-social, .box-self-care{ 
    .box-work-container {
      .box-wrok-container{
        padding: 2.75em 1.5em;
        &__content:first-child {
          font-size: 1.4rem;
        }
        &__content:nth-child(2) {
          font-size: 2.1rem;
        }
      }
      .box-wrok-info-container-secondary{
        &__content{
          color: $neuteral-pale-blue;
        }
        &__content:nth-child(2){
          font-size: 1.2rem;
        }
      }
    }
  }
}
}

@media (min-width: 425px){
  .main-container{
    .box-person {
      display: flex;
      flex-direction: column;
      .box-about {
        display: flex;
        align-items: center;
        background-color: $primary-blue;
        padding: 3em 1em;
        border-radius: 0.8em;

        &__image {
          width: 8em;
          height: 8em;
          border: 2px solid $neuteral-pale-blue;
          border-radius: 50%;
          margin: 0 2.5em;
        }
        .box-info {
          &__report {
            color: $neuteral-pale-blue;
            font-size: 1.4rem;
          }
          &__person-name {
            font-size: 2rem;
            color: $neuteral-pale-blue;
            padding: 0.25em 0 0 0;
          }
        }
      }
      .box-person-links {
        &__item {    
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media (min-width: 576px){
  .main-container{
    .box-person {
      .box-person-links {
        &__item {    
          font-size: 1.5rem;
        }
      }
    }
      .box-work, .box-play, .box-study, .box-exercise, .box-social, .box-self-care{ 
        .box-work-container {
          .box-wrok-info-container, .box-wrok-info-container-secondary {
            padding: 3.5em 2em;
            &__content:first-child {
              font-size: 1.8rem;
            }
            &__content:nth-child(2) {
              font-size: 2.4rem;
            }
          }
          .box-wrok-info-container-secondary{
            &__content{
              color: $neuteral-pale-blue;
            }
            &__content:nth-child(2){
              font-size: 1.5rem;
            }
          }
        } 
    }
  }
}