@use "./fonts" as *;
@use "./colors" as *;
@media (min-width: 280px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $neuteral-very-dark-blue;
    min-height: 100svh;
    padding: 4.5em 0;
    .card-box {
      background-color: $neuteral-dark-blue;
      border-radius: 0.8em;
    }
    .box-person {
      display: flex;
      flex-direction: column;
      width: 76.5%;
      .box-about {
        display: flex;
        align-items: center;
        background-color: $primary-blue;
        padding: 2.25em 1.9em;
        border-radius: 0.8em;
        &__image {
          width: 44px;
          height: 44px;
          border: 2px solid $neuteral-pale-blue;
          border-radius: 50%;
          margin-right: 1.75em;
        }
        .box-info {
          &__report {
            color: $neuteral-pale-blue;
          }
          &__person-name {
            font-size: $primary-size;
            color: $neuteral-pale-blue;
            padding: 0.25em 0 0 0;
          }
        }
      }
      .box-person-links {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 2em 0;
        &__item {
          color: $neuteral-desaturated-blue;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    .box-work, .box-study {
      background-image: url(../img/icon-work.svg);
      background-repeat: no-repeat;
      background-position: 90% -15%;
      background-size: 23%;
      background-color: $primary-light-red;
      padding-top: 2.5em;
      width: 76.5%;
      .box-work-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $neuteral-dark-blue;
        border-radius: 0.8em;
        width: 100%;
        .box-wrok-info-container, .box-wrok-info-container-secondary {
          padding: 2.5em 1.5em;
          &__content {
            color: white;
          }
          &__content:first-child {
            font-size: 1.2rem;
          }
          &__content:nth-child(2) {
            font-size: $primary-size;
            margin-top: 0.75em;
            font-weight: $small-weight;
          }
        }
        .box-wrok-info-container-secondary{
          text-align: right;
          &__content{
            color: $neuteral-pale-blue;
          }
          &__content:nth-child(2){
            font-size: 1rem;
            margin-top: 1.5em;
          }
        }
      }
    }
    .box-study{
      background-image: url(../img/icon-play.svg);
      background-color: $primary-soft-blue;
    }
  }
}