@use './reset' as *;
@use './fonts' as *;
@use './colors' as *; 

@use './mobile' as breakpoint-small;
@use './tablet' as breakpoint-tablet;
@use './desktop' as breakpoint-desktop;

html{
    font-size: 62.5%;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    background-color: $neuteral-very-dark-blue;
}